# 1. Mặc định: Mọi thay đổi đều cần sự phê duyệt của bạn (Lead)
* @tuantran0343

# 2. Frontend: Khi có thay đổi trong thư mục React/Web, gán cho team Frontend
**/WeatherForecastController.cs    @tuantran0343

# 3. Infrastructure: Các file cấu hình Docker, K8s, Terraform
**/ContentV1Controller.cs    @anhtuan1410
